body {
  background-color: #FFF;
}

.logo {
  margin: 3em auto;
  width: 17em;
}

.logo:hover {
  background-color: gold;
  border-radius: 5px;
}

.menu {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.25em;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: block;
  margin: 0.5em auto;
  border-radius: 10px;
}

.menu:hover {
  background-color: gold;
}

.intro {
  font-family: 'Major Mono Display', monospace;
  max-width: 19em;
  padding: 0.5em;
  position: absolute;
  top: 2em;
  left: 3em;
  color: #FFF;
  font-weight: 800;
  background-color: rgb(77, 77, 77, 50%);
}

.main-img {
  margin: 0 auto;
  position: relative;
  padding: 1em 2em;
}

.main-img img {
  border: 2px solid #000;
}

.sub-menu {
  border: 2px solid #000;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em 2em;
  padding: 0 2em;
}

.photographer {
  font-family: 'Major Mono Display', monospace;
  font-size: 1em;
  margin: 1em;
  text-shadow: 1px 1px gold;
}

.contact {
  background-color: rgb(77, 77, 77, 50%);
  padding: 1em;
  margin-top: 1em;
  font-family: 'Major Mono Display', monospace;
}

@media screen and (min-width: 500px) {
.gallery {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 1em;
  padding: 0 2em;
  }

  .sub-menu {
    max-width: 500px;
    margin: 0 auto;
  }

.photographer {
  font-size: 1.5em;
  margin: 2em;
  }
}